.ticketType h4{
  font-family: "Montserrat",sans-serif;
  font-weight: 700;

}

.ticketType select{
    display: flexbox;
  font-size: 16px;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 10%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(110, 100, 100);
 -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background-image:url(./down-chevron.png), linear-gradient(to bottom,rgba(116, 0, 0, 1),rgba(116, 0, 0, 1));
   background-repeat: no-repeat, repeat;
   background-position: right .7em top 50%;
   background-size: .65em auto, 100%;
  
  }