.footer {
  font-family: verdana;
  font-size: smaller;
  width: 100vw;
  background-color: #24252A;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: bold;
  font-style: italic;
}

.leftFoot {
  float: left;
  width: 33%;
  text-align: right;
}

.middleFoot {
  float: left;
  width: 33%;
  text-align: center;
}

.rightFoot {
  float: left;
  width: auto;
}
.rightFoot:hover {
  background-color: #0088a9;
}