.footer {
  font-family: verdana;
  font-size: smaller;
  width: 100vw;
  background-color: #24252A;
  padding-top: 12px;
  font-weight: bold;
  font-style: italic;
}

.leftFoot {
  float: left;
  width: 33%;
  text-align: right;
}

.middleFoot {
  float: left;
  width: 33%;
  text-align: center;
}

.rightFoot {
  float: left;
  width: auto;
}
.footer p {
  margin: 10px 10px 10px 10px;
  font-size: 16px;
}
.rightFoot:hover {
  background-color: rgba(116, 0, 0, 0.5);
  border-radius: 50px;
}