@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
header{
  background-color: #24252A;
}
.nav-links {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.nav-bar {
  position:sticky;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
li, a, .login{
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  position:relative;
    /* bottom:-25px;
    vertical-align:bottom; */
}
 .login {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
} 
.login:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.logo-picture{
  display: flex;
  text-align: center;
  position: sticky;
  max-width: 100%;
  cursor: pointer;
}
.menu {
  text-align: center;
  padding-bottom: 10px;
}

/* header nav a {
  font-family: verdana;
  font-size: medium;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
} */

