.moviePicture {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#close-button {
  position: relative;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

.trailer video {
  position: relative;
  max-width: 900px;
  outline:none;

}

@media (max-width: 991px) {
  .trailer video {
    max-width: 90%;
  }

}
.trailer-container {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: rgba(0,0,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer-container.active {
  transition: ease-in 1s;
  visibility: visible;
  opacity: 1;
  border: 1px solid #fff;
}

#trailer {
  position: sticky;
  width: 52vw;
  height: 30vw;
  overflow: scroll;
  border: none;
}

#moviePic {
  width: 20vw;
  height: 20vw;
}

#titleName {
  font-style: italic;
  color: #fff;
  margin-left: 10px;
}

#trailer-button {
  margin-left: 520px;
  margin-bottom: 30px;
  padding: 5px 14px;
  border-radius: 50px;
  border-style: double;
  font-size: 18px;
  text-align:center; 
}
.movie-information {
  color: #fff;
  padding-bottom: 10px;
}
.movie-information-label {
  font-size: 14px;
  color: gray;
  padding-bottom: 2px;
}