#movieText {
  float: left;
  width: 50%;
}
#moviePicture {
  float: left;
  width: 50%;
}
#trailer {
  position: relative;
  width: 24.7vw;
  height: 19vw;
  overflow: scroll;
}
.movieClick {
  font-style: italic;
  cursor: pointer;
}
#moviePic {
  width: auto !important;
  max-width: 50%;
  height: auto;
  float: right;
}
#titleName {
  font-style: italic;
  color: #054074;
  margin-left: 10px;
}
