 .filmObj {
  justify-content: center;
  align-items: center;
  margin-left: 35px;
} 
#moviePictureLink{
  width: 180px;
  height: 280px;
  border-radius: 3%;
  display: flex;
  cursor: pointer;
  margin: auto;
}
.movieFrame {
  display: inline-block;
  width: 10vw;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
}
.movieFrame:hover {
  border: 2px solid rgba(116, 0, 0, 1);
  border-radius: 3%;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
#moviePictureButton {
  padding: 5px 5px;
  background-color: rgba(116, 0, 0, 1);
  border: none;
  border-radius: 10px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: flex;
  margin: auto;
}
.secondcolumn h2 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}