
*{
  box-sizing: border-box;
} 

.seatingBooking {
  /* display:flex; */
  color: white;
  background-color:black;
  width: 99%;
  border: solid black 1px;
  margin: 5px;
  padding: 10px;
  border-radius: 2%;
  padding-right: 25px;
  padding-left: 25px;
}

.obj {
  display:flex;
  flex-wrap: wrap;
}

.seats {
  /* flex-shrink: 1; */
  max-width: 40px;
  width: 18px;
  height: 10px;
  padding-top: 1%;
  font-family: 'Courier New', Courier, monospace;
  /* text-decoration: underline; */
  display: inline-block;
  font-size: large;
  font-weight: bolder;
  color: rgb(27, 10, 10);
  background-color: red;
  border: solid 1px grey;
  /* border-radius: 10%; */
  margin: 1px;
  margin-bottom: 10px;
  margin-right: 3px;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}
.obj > .a-hover:hover {
  background-color: yellow;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
}

.seatsrow:nth-child(5n) {
  margin: 35px;
}

.seatingBooking button {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  font-weight: bold;
  border: none;
}

button:hover {
  background-color: lightgrey;
  cursor: pointer;
}



.movieScreen {
  width: 80%;
  color: rgb(7, 7, 7);
  background-color: white;
  border: solid grey 3px;
  margin-bottom: 45px;
}

/* .schema {
  width: 99%;
  background-color: rgb(188, 196, 201);
  margin: 5px;
  margin: 1%;
  padding: 5px;
  border-radius: 2%;
} */

/* .partTwoSecondColumn{
  background-color: rgb(188, 196, 201);
} */