@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import './footer.css';
@import './header.css';
@import './movieInformation.css';
@import './seats-booking.css';
@import './pictureLinks.css';
@import './dropdown.css';

*{
    box-sizing: border-box;
}



h1 {
  font-family: 'David Libre', serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', serif;
  background-color: rgb(188, 196, 201);
  width: 100%;
}
main {
  flex: 1;
}
p {
  margin: 10px;
  color: #fff;
}

h2 {
  padding-left: 10px;
  text-align: left;
  color: #ffffff;
}

.firstcolumn {
  float: left;
  width: 20%;
  padding: 5px;
  padding-left: 10px;
  margin: 1%;
  border-radius: 2%;
  display: block;
}
.secondcolumn {
  float: left;
  width: 40%;
  margin: 1%;
  padding: 1%;
  border-radius: 2%;
  padding-bottom: 2.5rem;
  display: block;
}
/* .thirdcolumn {
  float: left;
  width: auto;
  padding: 5px;
  margin: 1%;
  border-radius: 2%;
  display: block;
} */

/* Kommenterar ut denna så den inte ändrar bilder per automatik */
/* img {
  width: 25%;
  border-radius: 3%;
} */

.schemarubrik {
  font-weight: bold;
}

.firstimage {
  width: 100%;
  border-radius: 3%;
}

iframe {
  border-radius: 3%;
}

/* .scheduleObj {
  max-height: 200px;
 max-width: 300px; 
  overflow-x: hidden;
  overflow-y: scroll;
} */

/* ---------------------- BOKNINGSFORMULÄR STYLING ---------------------- */
#booking-button {
  margin: 30px 30px 0px 30px;
}
.secondcolumn p {
  text-align: left;
}
form {
  margin-left: 10px;
}
#cancel-button {
  margin-left: 40px;
}

.bookingField {
background-color: rgb(199, 197, 197);
margin-left: 20px;
margin-top: -35px;
border: solid 1px black;
padding: 10px;
padding-bottom: 20px;
}

input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.bookingText {
  text-align: center;
}

.bookingField p {
  text-align: center;
  }



