html{
  width:100vw;
}

.logo{
  display: inline-block;
  color: rgb(5, 64, 116);
  padding-right: 5px;
  padding-left: 15px;  
  font-weight: bolder;
  font-size: x-large;
}

nav {
  height:1%;
  background-color: rgb(255, 255, 255);
  border-top: solid rgb(0, 0, 0) 1px;
  border-bottom: solid rgb(0, 0, 0) 1px;
 
}

nav a {
  font-family: verdana;
  font-size: medium;
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  display: inline-block;
    margin-left:30px;
    margin-right:10px;  
}

h1{
font-family: 'David Libre', serif;
position:sticky;
}

body{
font-family: 'David Libre', serif;
background-color: rgb(253, 254, 255);
}

.login{
  float:right;
  
  color: rgb(48, 20, 202);
  
  margin-top:5px;
}

p{
  margin: 10px;
}

.firstcolumn{
  float: left;
  width: 20%;
  padding: 5px;
  margin:1%;
  border-radius: 2%;
}
.secondcolumn{
  float: left;
  width: 40%;
  background-color: rgb(212, 218, 226);
  padding: 5px;
  margin:1%;
  border-radius: 2%;
}

.thirdcolumn{
  float: left;
  width:auto;
  background-color: rgba(216, 218, 221, 0.507);
  padding: 5px;
  margin:1%;
  border-radius: 2%;
}

footer {
  background-color: rgba(50, 91, 168, 0.808);
  color: black;
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: 2.5rem;           
  padding-bottom: 1%;
  border-top: solid black 1px;;
}

footer p {
   font-weight: bold;
}

.leftFoot {
  float: left;
  width: 33%;
  
}

.middleFoot {
  float:left;
  width: 33%;
}

.rightFoot {
  float: right;
  width: auto;
}

img {
  width:25%;
  border-radius: 5%;
}

.higlightedMovie {
  background-color: rgb(174, 252, 172);
  width:50%
}

.seatingBooking {
  background-color: white;
float: left;
width:75%;
border: solid black 1px;
margin:15px;
}

