html{
  width:100vw;
}

.logo{
  display: inline-block;
  color:white;
  background-color: black;
  border: 1px solid black;
  padding-left:10px;
  padding-right:10px;
  margin:5px;  
  font-weight: bolder;
  font-size: large;
  vertical-align: middle;
  border-radius: 10%;
}

.menu {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  font-style: italic;
  
}

nav {
  height:1%;
  background-color: rgb(255, 255, 255);
  border-top: solid rgb(0, 0, 0) 1px;
  border-bottom: solid rgb(0, 0, 0) 1px;
}

nav a {
  font-family: verdana;
  font-size: medium;
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  display: inline-block;
    margin-left:30px;
    margin-right:10px;  
}

h1{
font-family: 'David Libre', serif;
position:sticky;
}

body{
font-family: 'David Libre', serif;
background-color: rgb(253, 254, 255);
}

.login{
  float:right;
  
  color: rgb(48, 20, 202);
  
  margin-top:5px;
}

p{
  margin: 10px;
}

h2 {
  padding-left: 10px;
  text-align: left;
  color: #054074;
}

.firstcolumn{
  float: left;
  width: 25%;
  padding: 5px;
  padding-left: 100px;
  margin:1%;
  border-radius: 2%;
}
.secondcolumn{
  float: left;
  width: 25%;
  background-color: rgb(212, 218, 226);
  margin:1%;
}
#movieText {
  float: left;
  width: 50%;
}
#moviePicture {
  float: left;
  width: 50%;
}
#trailer {
  position:relative;
  width: 24.7vw;
  height: 19vw;
  overflow:scroll;
  
}
.movieClick {
  font-style: italic;
  cursor: pointer;
}
#moviePic {
  width: auto !important;
  max-width: 100%;
  height: auto;
  float:right;
}
#titleName {
  font-style: italic;
  color: #054074;
  margin-left: 7px;
}

.thirdcolumn{
  float: left;
  width:auto;
  padding: 5px;
  margin:1%;
}

.footer {
  float:left;
  width:100vw;
  background-color: rgba(50, 91, 168, 0.808);
  color: black;         
  padding-bottom: 1%;
  border-top: solid black 1px;
}

.footer p {
   font-weight: bold;
   font-size: 20px;
   font-style: italic;
}

.leftFoot {
  float: left;
  width: 33%;
  text-align: right;
  
}

.middleFoot {
  float:left;
  width: 33%;
  text-align: center;
}

.rightFoot {
  float: left;
  width: auto;
}

img {
  width:25%;

}

.higlightedMovie {
  background-color: rgb(174, 252, 172);
  width:50%
}

.schema{
width:99%;
background-color: rgba(216, 218, 221, 0.507);
margin:5px;
margin:1%;
padding: 5px;
border-radius: 2%;
}

.seatingBooking {
color:white;
background-color: rgb(0, 0, 0);
width:99%;
border: solid black 1px;
margin:5px;
padding: 5px;
border-radius: 2%;
}

.seats{
font-family: 'Courier New', Courier, monospace;
text-decoration: underline;
display: inline-block;
font-size: large;
font-weight: bolder;
color: rgb(27, 10, 10);
background-color: rgb(235, 3, 3);
border: solid 1px grey;
border-radius: 10%;
margin: 1px;
}

.seatingBooking button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  font-weight: bold;
  border:none;
}

button:hover {
  background-color: lightgrey;
  cursor:pointer;
}

.seats:hover {
  background-color: yellow;
  cursor:pointer;
}

.movieScreen{
  width:80%;
  color: rgb(7, 7, 7);
  background-color:white;
  border: solid grey 3px;
  margin-bottom: 5px;
}

.visning{
  width:99%;
  margin:10px;
  padding: 5px;
}
.visning p{
  
  background-color: white;
  border: solid 1px black;
  padding:5px;
}

.schemarubrik{
  font-weight: bold;
}

.visning span:hover {
  background-color: yellow;
  cursor:pointer;
}

.hook{
  display: inline-block;
  padding-left:3px;
  color:red;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.filmObj:last-child{
  display:none;
}




