.contact > h3 {
  color: #fff;
  margin: 0;
}
.contact > p {
  color: #fff;
  margin: auto;
}

.markus > h3 {
  color: #fff;
  margin: 0;
}
.jesper > h3 {
  color: #fff;
  margin: 0;
}
.adnan > h3 {
  color: #fff;
  margin: 0;
}