footer {
 font-family: verdana;
 font-size: smaller;
 width: auto;
 background: linear-gradient(to right bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
 padding: 20px 20px 20px 20px;
 font-weight: bold;
 font-style: italic;
 display: flex;
 justify-content: space-between;
}

footer > p {
 margin: 10px 10px 10px 10px;
 font-size: 16px;
}

.info-footer:hover {
 background-color:  rgba(0, 40, 73, 0.5);
 border-radius: 30px;

}