footer {
 font-family: verdana;
 font-size: smaller;
 width: auto;
 background: linear-gradient(to right left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
 padding: 20px 20px 20px 20px;
 font-weight: bold;
 font-style: italic;
 display: flex;
 justify-content: space-between;
}

footer > p {
 margin: 10px 10px 10px 10px;
 font-size: 16px;
}
.info-footer:hover {
 background-color: rgba(116, 0, 0, 0.5);
 border-radius: 50px;
}
@media screen and (max-width: 375px) {
  footer {
    display: inline-block;
  }

}