header{
  background: linear-gradient(to left right,  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  position: relative;
  min-height: 30vh; 
}

.nav-links {
  margin: 0;
  padding: 0;
  background-color: transparent;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
  /* background-color: rgba(28, 43, 179, 0.5); */
  border: none;
  /* border-radius: 50px; */
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
  text-decoration: none;
}

/* .nav-links li a {
  transition: all 0.3s ease 0s;
} */
.nav-links:hover li {
  opacity: 0.2;
  filter: blur(0.0625rem);
}

.nav-links li:hover {
  opacity: 1;
  filter: blur(0rem);
}

.nav-bar {
  position: sticky;
  bottom: 36px;
  vertical-align: bottom;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}
.nav-bar > p {
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
  font-weight: 700;
  margin: 0; 
  color: #001b31;
}

.nav-links > li, a, .login{
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #002849;
  text-decoration: none;
}

 /* .login {
  padding: 9px 25px;
  background-color: rgba(116, 0, 0, 1);
  border: none;
  outline: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}  */

/* .login:hover {
  background-color: rgba(116, 0, 0, 0.6);
} */

.logo-picture{
  display: flex;
  text-align: center;
  position: sticky;
  max-width: 100%;
  width: 100vw;
  cursor: pointer;
  margin: 0;
}

.menu {
  text-align: center;
  padding-bottom: 10px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #002849;
  margin: 5px;
  transition: all 0.3s ease;
}
/* ---------------  MOBILE MENU --------------- */

@media screen and (max-width: 768px) {
  header {
    min-height: 20vh;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: right;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links > li:hover {
    background-color: transparent;
  }
  .nav-links > li {
    opacity: 0;
    background-color: transparent;
    text-align: left;
  }
  .burger {
    display: block;
    align-items: right;
    justify-content: right;
  }
  .login {
    display: none;
  }
}
 .nav-active {
    transform: translateX(0%);
  }
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform:translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@media screen and (max-width: 375px) {
  header {
    min-height: 50vh;
  }
}
