.secondcolumn {
  /* position: absolute ;
  display: flexbox(right);
  position: absolute; */
}
main{
    /* background-image:linear-gradient(to bottom right,  rgba(85, 157, 185,0.8), rgba(98, 236, 156, 0.8)); */

    /* background-image:linear-gradient(120deg,#740000,#2c1f1f,#ddd) */

}
/* -----------loginformulär--------- */
.loginForm {
  
  /* border: 2px solid rgba(255, 255, 255,0.2); */
 position: relative;

  width: 100%;
  height: 80%;
  background: rgba(255, 255, 255,0.1);
  /* background: #f1f1f1; */
  padding: 5em,2.5;
  border-radius: 10px;

}
/* -------------h4 under inloggning------------- */
.loginForm h4{
  display:flexbox,();   /*fixa en flexbox för positionering av logintext och bild*/ 
  text-align:center;
  display:inline-block;

}
/* ----------loggin knapp--------- */
.loginUser{
  color:rgb(255, 255, 255);
  background: #740000;
}
/* ------------reg knapp------------- */
.registrera{
  color:rgb(255, 255, 255);
  background: #740000;

}
/* -----------input class för loggin/reg form ----------- */
.tb{
 
	padding: 1px;  
    font-size: 12px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none; 
}
.tb:focus{
border: 2px solid #aaa;
border:linear-gradient(to bottom left, rgb(255, 255, 255), rgb(64, 64, 70));
outline: none;
/* ----------------------------------------------------------- */
 /* h-tag klass för h2 tag finns både i login och reg html */
}
.h-tag{
  display: border;
  font-size: 200%;
  color:#fff;
  display:flex;   /*fixa en flexbox för positionering av logintext och bild*/ 
  text-align:center;
  display:inline-block;
  width: 100%;
}
/* ------------loggo bild och spinn i formulär-------------*/
  .fvpic{
    position: right 70%;
    width: 15%;
    height: 15%;
    animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

/*----------------reg formulär-------------- */
.regform2{
   position: relative;
  height: 80%;
  background: rgba(255, 255, 255,0.1);
  padding: 80px,40px;
  border-radius: 10px;
  flex-grow: 1;
}
/* ------------input i reg form----------- */
.regform2 tbody .tb{
  
 


}
.regform2 input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
	padding: 1px;  
  font-size: 12px;  
  text-shadow: 0px 1px 0px #fff;  
  outline: none; 
  flex-grow: 1;
}
.regform2 button .btn{
  border:none;
  size: 200px;
  font-family: "Montserrat",sans-serif;
    color:rgb(255, 255, 255);
  background: #740000;
	/* padding: 1px;  
    font-size: 12px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  */
}
/* .regform2 #res:focus{
border: 2px solid #aaa;
border:linear-gradient(to bottom left, rgb(255, 255, 255), rgb(64, 64, 70));
outline: none; */
/* ------------
 
  


}
.regform2 td .tb{
  left:25%;
  display: flexbox;
  /* align-items:right;
  align-content: center; 
}*/

