.moviePicture {
  display:flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-end;
}

.movie-info > h3 {
  font-size: 30px;
  color: #fff;
}

.movie-info {
  margin-left: 5px;
  width: 100%;
  display:flexbox;
  justify-content: space-between;
}
.movie-age {
  color:gray;
}
.movie-title-info {
  display: flexbox;
  justify-content: space-between;
  align-items: flex-end;
}

.buttons-movie-info {
  display:block;
  justify-content: space-between;
  text-align: right;
}

.movie-title-info > p {
  margin: 0;
  padding-bottom: 4px;
}

#close-button {
  position: absolute;
  padding: 1px 10px 1px 10px;
  font-size: 35px;
  top: 9%;
  right: 2%;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
}

.trailer video {
  position: relative;
  max-width: 900px;
  outline:none;

}

@media (max-width: 991px) {
  .trailer video {
    max-width: 90%;
  }

}
.trailer-container {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.85));
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer-container.active {
  transition: ease-in 1s;
  visibility: visible;
  opacity: 1;
}

#trailer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: none;
}

#moviePic {
  width: 10vw;
  height: 15vw;
}

#titleName {
  font-style: italic;
  color: #fff;
  margin-left: 10px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#trailer-button {
  background: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(64, 64, 70));
  font-size: 16px;
}

#trailer-button:hover {
  animation: bounce 1s;
}

#book-tickets {
  background: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(64, 64, 70));
  font-size: 16px;
}

#book-tickets:hover {
  animation: bounce 1s;
}

.movie-information {
  color: #fff;
  padding-bottom: 5px;
}

.movie-information-label {
  font-size: 14px;
  color: gray;
  padding-bottom: 2px;
}

.movie-information-value > p {
  margin: 0;
}
@media screen and (max-width: 768px) {
  #moviePic {
    width: 130px;
    height: 180px;
  }
  #book-tickets {
    font-size: 16px;
  }
  #trailer-button {
    font-size: 16px;
  }
  .buttons-movie-info {
    text-align: left;
  }
  .movie-info > h3 {
    /* padding-bottom: 60px; */
    font-size: 25px;
    text-align: top;
    margin-top: 0;
  }
}