.aktuellaBokningar {
  text-align: center;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.aktuellaBokningar > p {
  color: #aaa;
}
.mypage-head {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
#cancel-booking {
  border: 1px solid #aaa;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #fff;
  background: rgb(116,0,0);
  text-align: center;
  cursor: pointer;
}
@keyframes glow {
  from {
    box-shadow: 0 2px 10px 2px rgb(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0px 2px 10px 2px rgb(255, 255, 255, 1)
  }
}