.nav-links > .dropdown {
  float: left;
  overflow: hidden;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(64, 64, 70));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5%;
}

.dropdown-content > a {
  float: center;
  color: rgb(102, 34, 34);
  padding: 12px 12px;
  font-size: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color:#fff;
  background-color:transparent;
  border: none;
  outline:none;
  font-size: 18px;
  font-family:"Montserrat",sans-serif;

}
@media screen and (max-width: 768px) {
  .dropdown-content {
    position: relative;
    display: none;
    background:rgb(53, 53, 53);
    border-radius: 0;
  }
  .dropdown-content > a {
    color: rgb(75, 75, 75);
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
  }
  .dropdown:hover .dropdown-content {
    display:block;
  }
}