.filmObj {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-shrink: inherit;
}
#moviePictureLink{
  width: 10vw;
  height: 15vw;
  border-radius: 3%;
  cursor: pointer;
  margin: auto;
}
.movieFrame {
  display:flex;
  max-width: 100%;
  height: auto;
  border: 2px solid transparent;
  padding: 10px 10px 10px 10px;
  transition: transform .5s ease;
}
.movieFrame:hover {
  border-radius: 3%;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  transform: scale(1.2);
}
#moviePictureButton {
  padding: 5px 5px;
  background-color: rgba(116, 0, 0, 1);
  border: none;
  border-radius: 10px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: flex;
  margin: auto;
  font-size: 1vw;
}
.secondcolumn h2 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .filmObj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #moviePictureLink {
    width: 120px;
    height: 220px;
  }
  #moviePictureButton {
    font-size: 2vw;
  }
}
