.filmObj {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#moviePictureLink{
  width: 180px;
  height: 280px;
  border-radius: 3%;
  cursor: pointer;
  margin: auto;
}
.movieFrame {
  display:flex;
  width:auto;
  height: fit-content;
  border: 2px solid transparent;
  padding: 10px 10px 10px 10px;
  transition: transform .5s ease;
}
.movieFrame:hover {
  border-radius: 3%;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  transform: scale(1.2);
}
#moviePictureButton {
  padding: 5px 5px;
  background-color: rgba(116, 0, 0, 1);
  border: none;
  border-radius: 10px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: flex;
  margin: auto;
}
.secondcolumn h2 {
  text-align: center;
  font-size: 50px;
  color:  #002849;
}
@media screen and (max-width: 768px) {
  .filmObj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
