* {
  box-sizing: border-box;
}

.seatingBooking {
  color: white;
  background-color: black;
  min-width: 400px;
  border: solid black 1px;
  margin: 5px;
  padding: 10px;
  border-radius: 2%;
}

@media screen and (max-width: 750px) {
  .seatingBooking {
    zoom: 0.85;
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
}

@media screen and (max-width: 500px) and (min-width: 001px) {
  .seatingBooking {
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.seats {
  display: flex;
  flex-shrink: 1;
  min-width: 25px;
  height: auto;
  padding-top: 1%;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  font-size: 12px;
  font-weight: bolder;
  color: rgb(27, 10, 10);
  background-color: red;
  border: solid 1px grey;
  margin: 1px;
  margin-bottom: 10px;
  margin-right: 3px;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}
.obj > .a-hover:hover {
  background-color: yellow;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
}

.seatsrow:nth-child(5n) {
  margin: 35px;
}

.seatingBooking button {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  font-weight: bold;
  border: none;
}

.ticketType button {
  font-size: 16px;
  color: white;
  background-color: rgba(116, 0, 0, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  padding: 10px;
}

.ticketType button:hover {
  background-color: rgba(116, 0, 0, 0.6);
  cursor: pointer;
}

.movieScreen {
  width: 80%;
  color: rgb(7, 7, 7);
  background-color: white;
  border: solid grey 3px;
  margin-bottom: 45px;
}

.movieScreen > p {
  color: rgb(7, 7, 7);
}
